* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "Playlist Script";
  src: url("Playlist-script.ttf") format("truetype");
}
@font-face {
  font-family: "Ayer";
  src: url("Ayer-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Roslindale";
  src: url("Roslindale.ttf") format("truetype");
}
:root {
  --index: calc(1vw + 1vh);
  --overlay-bg: #ffe29a;
  --link-color: #862b0d;
}
body {
  background-color: black;
}
.preloader {
  position: fixed;
  z-index: 5;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: #161616;
  transition: 1s;
  font-family: "Poppins", sans-serif;
}
.overlay {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 0;
}
svg path {
  fill: var(--overlay-bg);
}
#toggle-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.5em;
  z-index: 4;
  cursor: pointer;
}
.btn-outline {
  position: absolute;
  width: 100px;
  height: 100px;
  border: 1px solid var(--overlay-bg);
}
.btn-outline-1 {
  border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  animation: morph 4s linear infinite;
}
.btn-outline-2 {
  border-radius: 53% 47% 43% 57% / 51% 39% 61% 49%;
}
@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
}
#hamburger {
  position: absolute;
  width: 20px;
  height: 20px;
  z-index: 4;
}
#hamburger span {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
  width: 24px;
  height: 1.25px;
  background: var(--overlay-bg);
  transition: transform 0.25s;
}
#hamburger span::before {
  position: absolute;
  right: 0;
  display: inline-block;
  content: "";
  width: 18px;
  height: 1.25px;
  background: var(--overlay-bg);
  transform: translateY(-4px);
  transition: transform 0.25s;
}
#hamburger .active span {
  transform: rotate(45deg);
}
#hamburger .active span::before {
  top: unset;
  width: 24px;
  transform: rotate(-90deg);
}
.menu {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  z-index: 3;
}
.menu > div {
  height: 100%;
  display: flex;
}
.menu a {
  position: relative;
  top: 120px;
  line-height: 70%;
  text-decoration: none;
  color: red;
  font-family: "Roslindale";
}
.menu a span {
  font-size: 20px;
  margin-right: 2em;
  font-family: "Ayer";
}
.menu-item {
  position: relative;
}
.menu-item:after {
  content: "";
  position: absolute;
  top: 100px;
  left: -20px;
  width: 120%;
  height: 200%;
  /* background: var(--overlay-bg); */
  margin: 0 auto;
}
.menu-container {
  width: 70%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.primary-menu {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.primary-menu .menu-container .wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.primary-menu a {
  text-transform: uppercase;
  font-size: 125px;
  font-weight: 500;
}
.secondary-menu {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8em;
}
.secondary-menu .menu-container .wrapper:nth-child(1) {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.primary-menu .menu-container .wrapper .menu-item:nth-child(1) a,
.primary-menu .menu-container .wrapper .menu-item:nth-child(3) a {
  margin-left: 1em;
}
.logo-header {
  position: absolute;
  top: 48%;
  right: 38%;
  transform: translate(-50%, -50%);
  color: #df9449;
}
.alias {
  position: relative;
  display: inline-block;
  bottom: -20px;
  opacity: 0;
}
.alias.active {
  bottom: 0;
  opacity: 1;
  transition: ease-in-out 0.5s;
}
.alias.fade {
  bottom: 150px;
  opacity: 0;
  transition: ease-in-out 0.5s;
}

.main-header {
  position: relative;
  overflow: hidden;
}
.layers {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.layer {
  height: 100vh;
  width: 100vw;
  position: absolute;
  background-size: cover;
  background-position: center;
  will-change: transform;
  z-index: 2;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
  padding-left: 10%;
  padding-right: 10%;
}
.layers_base {
  transform: translate3d(0, calc(var(--scrollTop) / 2.5), 0);
  z-index: 0;
  filter: saturate(110%);
}
.layers_giraffe {
  transform: translate3d(0, calc(var(--scrollTop) / 2.5), 0);
}
.layers_rhino {
  transform: translate3d(0, calc(var(--scrollTop) / 5.7), 0);
}
.layers_valley1 {
  right: 30%;
  background-size: contain;
  background-repeat: no-repeat;
}
.layers_valley2 {
  left: 28%;
  background-size: contain;
  background-repeat: no-repeat;
}
.layers_man {
  /* transform: scale(0.8); */
  left: 2%;
  top: 5%;
  background-size: contain;
  background-repeat: no-repeat;
  transform: translate3d(0, calc(var(--scrollTop) / 5.7), 0);
}
.layers_grass {
  top: 27%;
  transform: scale(0.8);
  background-size: contain;
  background-repeat: no-repeat;
}
.layers_orangegrass {
  top: 35%;
  right: 10%;
  transform: scale(0.6);
}
.layers_mist1 {
  transform: scale(0.4);
  left: 8vw;
  top: 10vh;
}
.layers_mist2 {
  transform: scale(0.4);
  top: 25vh;
  right: 15vw;
  opacity: 0.8;
}
.layers_leaves {
  transform: scale(0.3);
  bottom: 290px;
}
.layer_header {
  position: absolute;
  z-index: 1;
  top: 29%;
  transform: translate3d(0, calc(var(--scrollTop) / 2), 0);
  will-change: transform;
}
.name {
  color: #a12b04;
  font-size: calc(var(--index) * 4.8);
  font-family: "Playlist Script", cursive;
  text-shadow: 0 0 15px #e46a3d;
}
#message {
  font-family: "Open Sans", sans-serif;
  color: #a12b04;
  text-shadow: 0 0 15px #e46a3d;
  letter-spacing: 2px;
  line-height: 40px;
}
#layers_cloud1 {
  z-index: 2;
  position: absolute;
  right: 65%;
  bottom: 45%;
  filter: brightness(1.2);
  transform: scale(0.5);
  animation: moveCloud1 500s linear infinite;
}

@keyframes moveCloud1 {
  0% {
    right: 55%;
  }
  50% {
    right: -20%;
  }
  100% {
    right: 65%;
  }
}

#layers_cloud2 {
  z-index: 2;
  position: absolute;
  left: 65%;
  bottom: 50%;
  transform: scale(0.7);
  animation: moveCloud2 500s linear infinite;
}

@keyframes moveCloud2 {
  0% {
    left: 65%;
  }
  50% {
    left: -20%;
  }
  100% {
    left: 65%;
  }
}
.fade-in {
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 3s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}
.fade-out {
  opacity: 1;
  animation-name: fadeOut;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.name #surname {
  color: #491e0e;
  font-size: 28px;
  font-family: "Playlist Script", cursive;
  font-weight: bold;
}
nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 20px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
}
nav ul li a {
  color: rgb(82, 58, 2);
  text-decoration: none;
  font-weight: bold;
}
nav ul li a:hover {
  color: rgb(157, 97, 6);
  font-size: bold;
}

.name-loading {
  position: relative;
  top: 25vh;
  left: 10vw;
  max-width: 55%;
}

.name-loading h1 {
  font-size: 6vh;
  font-family: "Finger Paint", cursive;
  font-weight: 600;
  color: #93472a;
  max-width: 100%;
}

.name-loading p {
  font-family: "Finger Paint", cursive;
  color: #491e0e;
}

.input-name {
  font-size: 6vh;
  color: #491e0e;
}

.login-box {
  position: static;
}
.main-box {
  height: 100vh;
  width: 100%;
  background-image: url("banner.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
}

.form-box {
  width: 380px;
  height: 480px;
  position: relative;
  margin: 6% auto;
  margin-top: 0;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 25px 45px rgba(255, 255, 255, 0.1);
  padding: 5px;
  transform: scale(0);
  overflow: hidden;
}

.form-box .icon-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 25px;
  height: 25px;
  background: #d67540;
  font-size: 2em;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 10px;
  cursor: pointer;
}

.button-box {
  width: 260px;
  margin: 35px auto;
  margin-bottom: 5px;
  position: relative;
  box-shadow: 0 0 20px 0px #f1b607;
  border-radius: 30px;
  margin-left: 55px;
}
.button-box:hover {
  box-shadow: 0 0 20px 9px #e48b0f;
}
.toggle-btn {
  padding: 10px 30px;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  position: relative;
  font-family: "Aboreto", cursive;
  font-weight: bold;
  font-size: 1em;
}
#btn {
  top: 0;
  left: 0;
  position: absolute;
  width: 130px;
  height: 100%;
  background: linear-gradient(to right, #e38766, #e48b0f);
  border-radius: 30px;
  transition: 0.5s;
}
.social-icons {
  position: relative;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin-left: 35px;
}
.icons-list {
  display: flex;
}
.social-icons a {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 60px;
  background: #d67540;
  display: flex;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  text-decoration: none;
  margin: 20px;
  font-size: 1.8em;
  transform-style: preserve-3d;
  perspective: 500px;
  box-shadow: 0 25px 35px rgba(0, 0, 0, 0.1);
}
.social-icons a:hover .fa {
  color: #fff;
  transform: scale(1.2) translateZ(50px);
}
.input-user {
  top: 180px;
  position: absolute;
  width: 280px;
  transition: 0.5s;
}
.input-field {
  width: 100%;
  height: 45px;
  padding: 10px 0;
  margin: 5px 0;
  border: none;
  outline: none;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.351);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding: 0 0 0 45px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
  font-weight: 500;
  color: #491e0e;
  font-size: 14px;
  font-weight: 700;
  font-family: "Aboreto", cursive;
}
.logo {
  position: relative;
  top: -43px;
  left: 10px;
  scale: 80%;
}
.input-field:focus::placeholder {
  color: transparent;
}
.submit-btn {
  width: 85%;
  padding: 10px 30px;
  cursor: pointer;
  display: block;
  margin: auto;
  background: linear-gradient(to right, #e38766, #e48b0f);
  border: 0;
  outline: none;
  border-radius: 30px;
  font-family: "Aboreto", cursive;
  font-weight: bold;
  font-size: 1em;
  color: black;
}
.bottom {
  margin-left: 0px;
}
.bottom span {
  position: relative;
  top: 0px;
}
.submit-btn:hover {
  background: linear-gradient(to right, #e67248, #e8744a);
  box-shadow: 0 0 20px 0 #f1a706;
}
.check-box {
  margin: 10px 10px 30px 0;
}
.spantnc {
  color: #777;
  font-size: 12px;
  bottom: 68px;
}
#login {
  left: 50px;
}
#register {
  left: 450px;
}
::-webkit-input-placeholder {
  color: black;
}
#fb-logo:hover {
  background-color: #3b5998;
}
#insta-logo:hover {
  background: #f09433;
  background: -moz-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}
#linkedin-logo:hover {
  background-color: #0077b5;
}
.about-me {
  background-color: black;
  color: white;
  height: 100vh;
}
